<div class="w-full" data-controller="demo">
  <div class="mt-5 flex items-center justify-center">
    <div class="w-1/3">
      <h2 class="bg-blue-500 p-3">Moj Video</h2>
      <video height="240" data-demo-target="main" autoplay playsinline></video>
    </div>
    <div class="w-1/3">
      <h2 class="bg-green-500 p-3">Gost</h2>
      <video height="240" data-demo-target="remote" autoplay playsinline></video>
    </div>
  </div>

  <button data-action="demo#joinRoom">Join Room</button>
</div>